<body>
    <h1>Niner Picks</h1>

    <%= link_to 'Create Poll', new_poll_path %>
    <%= link_to 'View Polls', controller: 'polls' %>
    <%= link_to 'Enter Poll ID', controller: 'polls' %>
    
    <table align="center">
        <caption>Featured Polls</caption>
        <tr>
            <th>New</th>
            <th>Poll Name</th>
            <th>Poll Author</th>
            <th>Date Created</th>
            <th></th>
        </tr>
        <% @featured_polls.each do |poll| %>
            <tr>
                <td>*</td>
                <td><%= poll.name %></td>
                <td>Tyler</td>
                <td>11/1/2017 1:55 PM</td>
                <td>Take Poll</td>
            </tr>
        <% end %>
    </table>
</body>