<!doctype html>

<html>
    <head>
        <title>Niner Picks</title>
    </head>
    
<body>
    <div class="container">
        <h1>Niner Picks</h1>
        <p>Niner Picks is a state-of-the-art poll system.</p>
        <p>You will need to log in in order to participate in polls or to 
        create new polls.</p>
        <div class="row">
            <div class="col">Continue as guest</div><div class="col">Login</div>
        </div>
    </div>
</body>
</html>