/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$bg-color: #00703C;
$bg-color-light: darken($bg-color, 5%);

$text-color: darken(#F0CB00, 10%);
$border-color: $text-color;

body
{
    background-image: url("UNCCCampus.jpg");
    //background-color: $bg-color !important;
    color: $text-color;
    margin-top: 20px !important;
}

.container
{
    background-color: $bg-color-light;
    color: $text-color;
    border: solid 3px $border-color;
    text-align: center;
        min-height: 500px !important;
}

.btn-default
{
    background-color: $bg-color ;
    border-color: $border-color ;
    color: $text-color;
}

.btn-default:hover
{
    background-color: lighten($bg-color, 10%);
    border-color: lighten($border-color, 10%);
    color: lighten($text-color, 10%);
}

table, td, th
{
    border-collapse: collapse;
    border: solid 1px $border-color;
}

th
{
    padding: 20px;
}

td
{
    padding: 10px;
}

tr.hover {
   cursor: pointer;
   /* whatever other hover styles you want */
}