// This file will contain all global variables, primarily colors.

// UNC Print Guidelines here
// https://advancement.uncc.edu/sites/advancement.uncc.edu/files/media/identity-standards-guide.pdf

// rgb(0, 112, 60) is the official UNCC green
// rgb(240, 203, 0) is the official UNCC gold

$uncc-green: rgb(0, 112, 60);
$uncc-gold: rgb(240, 203, 0);

$bg-color: lighten($uncc-green, 5%);
$text-color: $uncc-gold;
$border-color: $uncc-gold;

$button-bg-color: lighten($uncc-green, 10%);

$button-color-hover: lighten($uncc-gold, 5%);
$button-bg-color-hover: lighten($uncc-green, 15%);
$button-border-color-hover: ligten($uncc-gold, 5%);